
<button class="btn btn-outline-secondary btn-lg w-100 h-100" @onclick="HandleClick">
    @val
</button>

@code {
    [Parameter]
    public string Id { get; set; } = "1"; // Default to Id 1

    private string val = string.Empty;
    public void HandleClick()
    {
        switch (val)
        {
            case "":
                val = "X";
                break;
            case "X":
                val = "O";
                break;
            case "O":
                val = String.Empty;
                break;

        }
    }
}