@using System.ComponentModel

<button class="btn btn-outline-secondary btn-lg w-100 h-100" @onclick="HandleClick">
    @GameRef.Gameboard[Id]
    @val
</button>

@code {
    [Parameter]
    public int Id { get; set; } = 1; //"1"; // Default to Id 1

    [Parameter]
    public Tictactoe.Game GameRef { get; set; } = null!; //rference to Game object containing gameboard state

    private string val = string.Empty;
    public void HandleClick()
    {
        if (GameRef.GetGameStatus() != "in-progress")
            return; // return if game is over 
        switch (GameRef.Gameboard[Id])
        {
            case "":
                GameRef.Gameboard[Id] = "X";
                break;
            case "X":
                GameRef.Gameboard[Id] = "O";
                break;
            case "O":
                GameRef.Gameboard[Id] = String.Empty;
                break;
        }

        GameRef.CheckForWin(); // do this after each click
    }

}