@page "/"
@rendermode InteractiveServer
<h1>Tic-Tac-Toe</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            <JamesButton Id="1"/>
        </div>
        <div class="col-4">
            <JamesButton Id="2"/>
        </div>
        <div class="col-4">
            <JamesButton Id="3" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <JamesButton Id="4" />
        </div>
        <div class="col-4">
            <JamesButton Id="5" />
        </div>
        <div class="col-4">
            <JamesButton Id="6" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <JamesButton Id="7" />
        </div>
        <div class="col-4">
            <JamesButton Id="8" />
        </div>
        <div class="col-4">
            <JamesButton Id="9" />
        </div>
    </div>

</div>
